In [52]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [53]:
# Create connection to AWS table

engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [54]:
# Create dataframe for main data to be used for modeling using connection with AWS
main_df = pd.read_sql_table('consolidated_pre_transformation', con=engine)

In [55]:
# Preview main dataframe

main_df.head()

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,mpa_rating
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,PG-13
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,R
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,R
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,R
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,PG-13

In [56]:

#Split out genre into columns (manual dummy variable creation)

main_df['isHorror'] = main_df['genre'].apply(lambda x: 1 if 'Horror' in x else 0)
main_df['isComedy'] = main_df['genre'].apply(lambda x: 1 if 'Comedy' in x else 0)
main_df['isRomance'] = main_df['genre'].apply(lambda x: 1 if 'Romance' in x else 0)
main_df['isFantasy'] = main_df['genre'].apply(lambda x: 1 if 'Fantasy' in x else 0)
main_df['isWestern'] = main_df['genre'].apply(lambda x: 1 if 'Western' in x else 0)
main_df['isWar'] = main_df['genre'].apply(lambda x: 1 if 'War' in x else 0)
main_df['isHistory'] = main_df['genre'].apply(lambda x: 1 if 'History' in x else 0)
main_df['isDrama'] = main_df['genre'].apply(lambda x: 1 if 'Drama' in x else 0)
main_df['isSport'] = main_df['genre'].apply(lambda x: 1 if 'Sport' in x else 0)
main_df['isMusic'] = main_df['genre'].apply(lambda x: 1 if 'Music' in x else 0)
main_df['isMusical'] = main_df['genre'].apply(lambda x: 1 if 'Musical' in x else 0)
main_df['isAnimation'] = main_df['genre'].apply(lambda x: 1 if 'Animation' in x else 0)
main_df['isBiography'] = main_df['genre'].apply(lambda x: 1 if 'Biography' in x else 0)
main_df['isFamily'] = main_df['genre'].apply(lambda x: 1 if 'Family' in x else 0)
main_df['isSci-Fi'] = main_df['genre'].apply(lambda x: 1 if 'Sci-Fi' in x else 0)
main_df['isMystery'] = main_df['genre'].apply(lambda x: 1 if 'Mystery' in x else 0)
main_df['isAdventure'] = main_df['genre'].apply(lambda x: 1 if 'Adventure' in x else 0)
main_df['isCrime'] = main_df['genre'].apply(lambda x: 1 if 'Crime' in x else 0)
main_df['isThirller'] = main_df['genre'].apply(lambda x: 1 if 'Thriller' in x else 0)
main_df['isAction'] = main_df['genre'].apply(lambda x: 1 if 'Action' in x else 0)

In [57]:
#Create dummy variables for MPAA rating
mpaa_dummies_df = pd.get_dummies(main_df['mpa_rating'])
mpaa_dummies_df

      G  NC-17  PG  PG-13  R  Unrated
0     0      0   0      1  0        0
1     0      0   0      0  1        0
2     0      0   0      0  1        0
3     0      0   0      0  1        0
4     0      0   0      1  0        0
...  ..    ...  ..    ... ..      ...
2721  0      0   0      0  1        0
2722  0      0   0      0  1        0
2723  0      0   0      0  1        0
2724  0      0   1      0  0        0
2725  0      0   0      0  1        0

[2726 rows x 6 columns]

In [58]:
#Add MPAA rating dummy variables to main dataframe
dummies_main_df = pd.concat([main_df, mpaa_dummies_df] , axis = 1)
dummies_main_df

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,...,isAdventure,isCrime,isThirller,isAction,G,NC-17,PG,PG-13,R,Unrated
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,...,0,0,0,0,0,0,0,1,0,0
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,...,1,0,0,1,0,0,0,0,1,0
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,...,0,1,0,0,0,0,0,0,1,0
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,...,0,0,1,1,0,0,0,0,1,0
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2721,The Prodigy,22022,32,3,"Horror, Mystery, Thriller",92,5.8,6,0,0,...,0,0,1,0,0,0,0,0,1,0
2722,The Cabin in the Woods,366795,21,5,Horror,95,7.0,30,0,0,...,0,0,0,0,0,0,0,0,1,0
2723,The Taking,24825,10,10,"Horror, Mystery, Thriller",90,6.0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2724,Finding Dory,233601,20,9,"Animation, Adventure, Comedy",97,7.3,200,1,0,...,1,0,0,0,0,0,1,0,0,0
2725,Levity,6171,6,10,"Crime, Drama",100,6.4,7,2,0,...,0,1,0,0,0,0,0,0,1,0

In [59]:
#Remove N/A rows
clean_main_df = dummies_main_df.dropna()

In [60]:
# Create a new DataFrame that holds only the title names.
df_titles = clean_main_df.filter(["original_title"], axis=1)

In [61]:
# Create final clean dataframe while removing unecessary columns
final_main_df = clean_main_df.drop([ 'original_title', 'votes', 'genre', 'mpa_rating', ], axis=1)

In [62]:
# Save final clean machine learning dataset off to resources folder
resources_folder = r'Resources/'
final_main_df.to_csv(resources_folder + 'clean_ml_data.csv', index=False)

In [63]:

# Create X and y variables

X = final_main_df.drop(['imdb_rating'], axis=1)
y = final_main_df['imdb_rating']

In [64]:

#scaler = StandardScaler()
#x_scaled = scaler.fit_transform(X)

In [65]:
# Train, Test, & Split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [66]:
# Initiate linear regression model and fit model

mlr = LinearRegression()  
mlr.fit(x_train, y_train)

LinearRegression()

In [74]:


print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x_test, mlr.coef_))

Intercept:  3.3852702930269776
Coefficients:

[('title_length', -0.002777505218842923),
 ('month_number', 0.006993295053414049),
 ('duration', 0.02457159866509372),
 ('budget_millions', 0.000968027276055225),
 ('oscar_nominated_actors_count', 0.12134288979553232),
 ('is_oscar_directed', -0.07302544082514635),
 ('isHorror', -0.34950866505022216),
 ('isComedy', -0.048445298874627486),
 ('isRomance', -0.09200685644803576),
 ('isFantasy', -0.22325334662606625),
 ('isWestern', 0.08916885363949935),
 ('isWar', 0.14782765381290236),
 ('isHistory', -0.03642615779667994),
 ('isDrama', 0.2728168193450634),
 ('isSport', -0.021443867377658656),
 ('isMusic', -0.16320809410517922),
 ('isMusical', 0.06772219445047369),
 ('isAnimation', 0.6535832420644725),
 ('isBiography', 0.21346270418850632),
 ('isFamily', -0.15824762643589207),
 ('isSci-Fi', -0.08150745398708682),
 ('isMystery', -0.057485271101402585),
 ('isAdventure', 0.039201759683561585),
 ('isCrime', -0.0788683025756827),
 ('isThirller', 0.009693423823317221),
 ('isAction', -0.1763657761384367),
 ('G', 0.04628261491940019),
 ('NC-17', -0.4650497721222902),
 ('PG', 0.03797809266749335),
 ('PG-13', 0.006586087742814053),
 ('R', 0.25386459645318454),
 ('Unrated', 0.12033838033940744)]

In [68]:
# Generate predicted values

y_pred_mlr= mlr.predict(x_test)

In [69]:
# Create dataframe with title, actual value, and predicted value

mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff['title'] = df_titles['original_title']
mlr_diff.head(40)

      Actual value  Predicted value                                   title
2229           7.1         6.561083                            Side Effects
1044           6.0         6.497989                  The Lego Ninjago Movie
1071           5.1         5.813077              A Merry Friggin' Christmas
785            6.3         6.237137                        Meet the Fockers
605            6.0         5.643099                   The Last Witch Hunter
1535           5.6         7.387830                        Sex and the City
291            4.9         5.839644                                Year One
834            5.6         5.987059                                Horsemen
1135           5.5         6.448063                       Collateral Damage
976            6.3         6.451269                           Party Monster
958            5.5         6.017653                         Vampire Academy
2092           9.0         7.440931                         The Dark Knight
1897           7.7         6.867089                          Wreck-It Ralph
2019           6.4         5.565795                                 Red Eye
1975           5.5         6.257593                         Rumor Has It...
1455           7.2         6.301593                            The Believer
73             7.5         5.744378                             Source Code
175            6.1         6.629624  Divine Secrets of the Ya-Ya Sisterhood
420            5.4         6.655113                                Blackhat
2459           5.8         5.859062                  The Sun Is Also a Star
2102           6.3         6.373564       My Son, My Son, What Have Ye Done
2443           5.9         6.100325                          Blade: Trinity
296            7.0         6.508933                                     Spy
535            4.8         5.772371                     Herbie Fully Loaded
1340           5.5         5.578087                  Cheaper by the Dozen 2
1834           6.0         6.364332                           Suicide Squad
568            7.3         6.965221                 Avengers: Age of Ultron
498            5.6         6.190024                 Bringing Down the House
1285           6.1         6.594518                         Do You Believe?
2592           6.2         6.776898                               Destroyer
1606           4.7         5.575356                       Are We There Yet?
2434           4.7         5.191517                                  Shorts
1360           5.5         5.839159                             Seventh Son
495            7.0         6.407508                               Secretary
772            7.1         6.116605         The SpongeBob SquarePants Movie
807            6.3         6.529517                              The Family
1398           7.2         6.454263                   Nothing But the Truth
649            6.8         6.137656                                    Spun
410            5.6         6.187398                            Imagine That
1097           5.7         6.501558                          The Art of War

In [70]:
# Calculated R sqared, MAE, MSE, and RMSE
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(X,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 32.47
Mean Absolute Error: 0.5960610046262493
Mean Square Error: 0.6126916652127699
Root Mean Square Error: 0.7827462329598079

In [71]:
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred_mlr) / y_test)) * 100))

Accuracy 89.45796419217183