In [7]:
from sqlalchemy import create_engine
import pandas as pd

In [8]:
engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [9]:
main_df = pd.read_sql_table('consolidated_pre_transformation', con=engine)

In [10]:
main_df.head()

,title_length,month_number,genre,duration,imdb_rating,budget,oscar_nominated_actors_count,is_oscar_directed
0,14,3,"Comedy, Fantasy, Romance",118,6.4,48000000,0,0
1,18,6,"Action, Adventure, Fantasy",110,5.5,25000000,0,0
2,10,9,"Action, Drama, Thriller",110,5.8,25000000,1,0
3,3,4,"Comedy, Drama, Horror",93,6.6,500000,0,0
4,15,4,"Comedy, Horror",94,4.8,900000,0,0

In [11]:
main_df['Genre List'] = main_df['genre'].apply(lambda x: x.split(', ') if type(x)==str else [])

In [12]:
main_df['Genre List']

0           [Comedy, Fantasy, Romance]
1         [Action, Adventure, Fantasy]
2            [Action, Drama, Thriller]
3              [Comedy, Drama, Horror]
4                     [Comedy, Horror]
                     ...
2557                  [Drama, Romance]
2558       [Horror, Mystery, Thriller]
2559                          [Horror]
2560       [Horror, Mystery, Thriller]
2561    [Animation, Adventure, Comedy]
Name: Genre List, Length: 2562, dtype: object

In [13]:
genres = []
for i in main_df['Genre List']:
    genres.extend(i)

In [14]:
from collections import Counter

Counter(genres).most_common()

[('Drama', 1186),
 ('Comedy', 1050),
 ('Action', 755),
 ('Adventure', 566),
 ('Crime', 502),
 ('Thriller', 462),
 ('Romance', 415),
 ('Horror', 313),
 ('Mystery', 279),
 ('Fantasy', 240),
 ('Sci-Fi', 221),
 ('Animation', 168),
 ('Family', 167),
 ('Biography', 157),
 ('Sport', 68),
 ('Music', 66),
 ('History', 50),
 ('War', 25),
 ('Musical', 16),
 ('Western', 10)]

In [15]:
genres_no_repeats = [i[0] for i in Counter(genres).most_common()]

In [16]:
main_df.head()

,title_length,month_number,genre,duration,imdb_rating,budget,oscar_nominated_actors_count,is_oscar_directed,Genre List
0,14,3,"Comedy, Fantasy, Romance",118,6.4,48000000,0,0,"[Comedy, Fantasy, Romance]"
1,18,6,"Action, Adventure, Fantasy",110,5.5,25000000,0,0,"[Action, Adventure, Fantasy]"
2,10,9,"Action, Drama, Thriller",110,5.8,25000000,1,0,"[Action, Drama, Thriller]"
3,3,4,"Comedy, Drama, Horror",93,6.6,500000,0,0,"[Comedy, Drama, Horror]"
4,15,4,"Comedy, Horror",94,4.8,900000,0,0,"[Comedy, Horror]"

In [23]:
main_df['isOther'] = main_df['genre'].apply(lambda x: 1 if 'Romance' in x or 'Fantasy' in x or 'Western' in x or 'War' in x or 'History' in x or 'Sport' in x or 'Music' in x or 'Musical' in x or 'Animation' in x or 'Biography' in x or 'Family' in x or 'Sci-Fi' in x else 0)

main_df['isMystery'] = main_df['genre'].apply(lambda x: 1 if 'Mystery' in x else 0)
main_df['isHorror'] = main_df['genre'].apply(lambda x: 1 if 'Horror' in x else 0)
main_df['isAdventure'] = main_df['genre'].apply(lambda x: 1 if 'Adventure' in x else 0)
main_df['isCrime'] = main_df['genre'].apply(lambda x: 1 if 'Crime' in x else 0)
main_df['isThriller'] = main_df['genre'].apply(lambda x: 1 if 'Thriller' in x else 0)
main_df['isAction'] = main_df['genre'].apply(lambda x: 1 if 'Action' in x else 0)
main_df['isComedy'] = main_df['genre'].apply(lambda x: 1 if 'Comedy' in x else 0)
main_df['isDrama'] = main_df['genre'].apply(lambda x: 1 if 'Drama' in x else 0)

In [25]:
stripped_main_df = main_df.drop(['genre', 'Genre List'], axis=1)

In [26]:
clean_main_df = stripped_main_df.dropna()

In [46]:
# save final clean machine learning dataset off to resources folder
resources_folder = r'Resources/'
clean_main_df.to_csv(resources_folder + 'clean_ml_data.csv', index=False)

In [41]:
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm



X = clean_main_df.drop(['imdb_rating'], axis=1)
y = clean_main_df['imdb_rating']

In [43]:
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [44]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 4.2565465095636865
Coefficients:
 [-4.71796735e-03  1.07074226e-02  1.84959041e-02  1.03713693e-09
  1.00246526e-01 -1.45537442e-01 -5.54125057e-02 -1.25965582e-01
 -3.78127733e-01  1.40603770e-01 -2.17269924e-03  7.22935604e-02
 -2.42037711e-01 -1.38275208e-01  3.54208609e-01]

In [45]:
# with statsmodels
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            imdb_rating   R-squared:                       0.263
Model:                            OLS   Adj. R-squared:                  0.259
Method:                 Least Squares   F-statistic:                     60.70
Date:                Tue, 26 Oct 2021   Prob (F-statistic):          1.32e-156
Time:                        22:35:56   Log-Likelihood:                -3136.9
No. Observations:                2562   AIC:                             6306.
Df Residuals:                    2546   BIC:                             6399.
Df Model:                          15
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                            4.2565      0.153     27.815      0.000       3.956       4.557
title_length                    -0.0047      0.002     -3.038      0.002      -0.008      -0.002
month_number                     0.0107      0.005      2.190      0.029       0.001       0.020
duration                         0.0185      0.001     14.981      0.000       0.016       0.021
budget                        1.037e-09   4.98e-10      2.084      0.037    6.14e-11    2.01e-09
oscar_nominated_actors_count     0.1002      0.024      4.149      0.000       0.053       0.148
is_oscar_directed               -0.1455      0.072     -2.014      0.044      -0.287      -0.004
isOther                         -0.0554      0.043     -1.302      0.193      -0.139       0.028
isMystery                       -0.1260      0.060     -2.106      0.035      -0.243      -0.009
isHorror                        -0.3781      0.065     -5.842      0.000      -0.505      -0.251
isAdventure                      0.1406      0.054      2.592      0.010       0.034       0.247
isCrime                         -0.0022      0.049     -0.045      0.964      -0.097       0.093
isThriller                       0.0723      0.054      1.339      0.181      -0.034       0.178
isAction                        -0.2420      0.048     -5.089      0.000      -0.335      -0.149
isComedy                        -0.1383      0.049     -2.834      0.005      -0.234      -0.043
isDrama                          0.3542      0.047      7.482      0.000       0.261       0.447
==============================================================================
Omnibus:                      340.039   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              753.506
Skew:                          -0.783   Prob(JB):                    2.39e-164
Kurtosis:                       5.146   Cond. No.                     6.75e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.75e+08. This might indicate that there are
strong multicollinearity or other numerical problems.