In [1]:
# Initial Imports
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [3]:
main_df = pd.read_sql_table('consolidated_pre_transformation', con=engine)

In [4]:
main_df.head()

,title_length,month_number,genre,duration,imdb_rating,budget,oscar_nominated_actors_count,is_oscar_directed
0,14,3,"Comedy, Fantasy, Romance",118,6.4,48000000,0,0
1,18,6,"Action, Adventure, Fantasy",110,5.5,25000000,0,0
2,10,9,"Action, Drama, Thriller",110,5.8,25000000,1,0
3,3,4,"Comedy, Drama, Horror",93,6.6,500000,0,0
4,15,4,"Comedy, Horror",94,4.8,900000,0,0

In [5]:
#Genre List Data Frame
main_df['Genre List'] = main_df['genre'].apply(lambda x: x.split(', ') if type(x)==str else [])
main_df['Genre List']

0           [Comedy, Fantasy, Romance]
1         [Action, Adventure, Fantasy]
2            [Action, Drama, Thriller]
3              [Comedy, Drama, Horror]
4                     [Comedy, Horror]
                     ...
2557                  [Drama, Romance]
2558       [Horror, Mystery, Thriller]
2559                          [Horror]
2560       [Horror, Mystery, Thriller]
2561    [Animation, Adventure, Comedy]
Name: Genre List, Length: 2562, dtype: object

In [6]:
#loop list of Genres
genres = []
for i in main_df['Genre List']:
    genres.extend(i)

In [7]:
# Genre Counter
from collections import Counter

Counter(genres).most_common()

[('Drama', 1186),
 ('Comedy', 1050),
 ('Action', 755),
 ('Adventure', 566),
 ('Crime', 502),
 ('Thriller', 462),
 ('Romance', 415),
 ('Horror', 313),
 ('Mystery', 279),
 ('Fantasy', 240),
 ('Sci-Fi', 221),
 ('Animation', 168),
 ('Family', 167),
 ('Biography', 157),
 ('Sport', 68),
 ('Music', 66),
 ('History', 50),
 ('War', 25),
 ('Musical', 16),
 ('Western', 10)]

In [8]:
# Genre Consolidation 
genres_no_repeats = [i[0] for i in Counter(genres).most_common()]
genres_no_repeats

['Drama',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Romance',
 'Horror',
 'Mystery',
 'Fantasy',
 'Sci-Fi',
 'Animation',
 'Family',
 'Biography',
 'Sport',
 'Music',
 'History',
 'War',
 'Musical',
 'Western']

In [9]:
main_df.head()

,title_length,month_number,genre,duration,imdb_rating,budget,oscar_nominated_actors_count,is_oscar_directed,Genre List
0,14,3,"Comedy, Fantasy, Romance",118,6.4,48000000,0,0,"[Comedy, Fantasy, Romance]"
1,18,6,"Action, Adventure, Fantasy",110,5.5,25000000,0,0,"[Action, Adventure, Fantasy]"
2,10,9,"Action, Drama, Thriller",110,5.8,25000000,1,0,"[Action, Drama, Thriller]"
3,3,4,"Comedy, Drama, Horror",93,6.6,500000,0,0,"[Comedy, Drama, Horror]"
4,15,4,"Comedy, Horror",94,4.8,900000,0,0,"[Comedy, Horror]"

In [10]:
main_df['isOther'] = main_df['genre'].apply(lambda x: 1 if 'Romance' in x or 'Fantasy' in x or 'Western' in x or 'War' in x or 'History' in x or 'Sport' in x or 'Music' in x or 'Musical' in x or 'Animation' in x or 'Biography' in x or 'Family' in x or 'Sci-Fi' in x else 0)

main_df['isMystery'] = main_df['genre'].apply(lambda x: 1 if 'Mystery' in x else 0)
main_df['isHorror'] = main_df['genre'].apply(lambda x: 1 if 'Horror' in x else 0)
main_df['isAdventure'] = main_df['genre'].apply(lambda x: 1 if 'Adventure' in x else 0)
main_df['isCrime'] = main_df['genre'].apply(lambda x: 1 if 'Crime' in x else 0)
main_df['isThriller'] = main_df['genre'].apply(lambda x: 1 if 'Thriller' in x else 0)
main_df['isAction'] = main_df['genre'].apply(lambda x: 1 if 'Action' in x else 0)
main_df['isComedy'] = main_df['genre'].apply(lambda x: 1 if 'Comedy' in x else 0)
main_df['isDrama'] = main_df['genre'].apply(lambda x: 1 if 'Drama' in x else 0)

In [11]:
stripped_main_df = main_df.drop(['genre', 'Genre List'], axis=1)

In [12]:
clean_main_df = stripped_main_df.dropna()

In [13]:
# save final clean machine learning dataset off to resources folder
resources_folder = r'Resources/'
clean_main_df.to_csv(resources_folder + 'clean_ml_data.csv', index=False)

In [14]:
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm

#Create X, Y
X = clean_main_df.drop(['imdb_rating'], axis=1)
y = clean_main_df['imdb_rating']

#Split and Test Data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25, random_state = 1)

In [15]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression() #create an instance of Linear Regression
lr.fit(X_train,y_train)

LinearRegression()

In [16]:
y_test_predict = lr.predict(X_test) #y_test prediction values
y_test_predict

array([6.56319596, 6.15556957, 5.68149759, 6.0748428 , 6.53550421,
       6.20625342, 6.26153088, 6.16498987, 6.42064882, 5.81661872,
       6.18523089, 6.32916482, 5.31387308, 5.92811875, 5.63784432,
       6.53132247, 6.42918244, 5.90892135, 6.9231064 , 5.72566092,
       5.88016771, 6.04509844, 5.51158714, 5.80815946, 5.73392885,
       5.91882555, 5.4439912 , 6.15544459, 7.27005859, 6.17019083,
       7.20452325, 5.73903526, 6.64570056, 5.67225563, 6.79329109,
       7.12953934, 6.10254539, 6.61192336, 6.23202227, 6.19603977,
       6.68483937, 6.79365435, 6.7023154 , 6.7893897 , 5.70886518,
       5.98442013, 6.8170489 , 6.05038626, 5.73697   , 5.34803026,
       6.2580242 , 5.64091989, 6.68432607, 5.96512939, 6.58220215,
       6.23556433, 6.76227617, 6.72528482, 5.83627711, 6.63847325,
       5.98641033, 6.10274445, 5.8730589 , 6.80703015, 5.80941935,
       6.57804309, 6.06642491, 5.85032313, 7.28052612, 6.9423201 ,
       5.93941652, 6.36299461, 6.85250062, 5.84769821, 6.91133394,
       6.39561044, 6.25524805, 6.98954816, 7.16887512, 6.06189858,
       7.29072088, 5.80519004, 7.01278235, 6.01397135, 6.61565762,
       6.93574517, 5.94454009, 6.51162857, 6.63354207, 6.84072913,
       6.80370582, 6.35829354, 6.48755691, 7.42403142, 5.85115775,
       6.73014965, 6.91854026, 5.62002148, 6.37314937, 7.14675355,
       6.99213086, 6.41687331, 6.62399484, 6.41153431, 5.56262028,
       6.82498202, 6.30771863, 6.51599121, 5.64962319, 6.3597547 ,
       6.38986128, 5.75931147, 5.44102351, 6.40634597, 6.44367904,
       6.56496449, 6.48418283, 6.42902555, 5.80000086, 7.6334465 ,
       7.16324087, 6.75877548, 6.45733357, 6.21421859, 6.68464097,
       6.77213388, 6.73560961, 6.41873524, 6.68534197, 6.32290685,
       7.63062754, 6.60254886, 6.10220871, 5.9621656 , 6.28861156,
       8.25810452, 6.62035007, 6.3884323 , 7.55778165, 5.78144137,
       5.63698041, 5.74422368, 6.69015196, 6.46333469, 6.87151182,
       6.38471179, 5.60092768, 6.43592117, 6.33685205, 6.27048836,
       6.87640247, 6.62898149, 6.51809324, 6.18574184, 6.05674904,
       5.8100067 , 6.92295264, 6.1367975 , 6.72318895, 5.95217551,
       6.13969966, 6.03843038, 6.73318514, 6.08189241, 7.07145407,
       6.36698721, 6.15103978, 5.78653812, 5.70165746, 6.28565857,
       6.8557087 , 6.55724559, 6.65473411, 5.72870294, 6.56739598,
       5.93545207, 6.24700793, 6.97794842, 5.95702452, 6.37658917,
       6.19011433, 6.15663176, 6.45644468, 5.87546384, 5.95333707,
       5.5480222 , 5.75405273, 7.60768838, 6.05980031, 7.10009652,
       6.6677821 , 5.98814217, 5.4242967 , 6.3703981 , 6.72640636,
       6.2470576 , 6.98976548, 5.49015579, 6.33306823, 6.70704286,
       6.21786974, 7.7331224 , 6.12044005, 6.29622869, 5.48765978,
       6.42861984, 6.53366474, 6.73406353, 6.43651654, 6.12507381,
       7.10637564, 5.80295456, 5.70594518, 6.52600011, 5.93347437,
       6.04537904, 5.70890562, 5.76133848, 6.73201631, 5.79202532,
       5.91106974, 5.77599857, 5.72537821, 6.35114403, 5.59577105,
       6.42041057, 5.77916611, 5.3871845 , 5.73693235, 6.52455739,
       6.73709255, 5.85097459, 5.67283564, 6.72970311, 6.11783483,
       6.54515392, 5.75168862, 6.43166303, 6.10676903, 5.47533978,
       6.55304095, 6.2863663 , 6.29262023, 6.5178078 , 5.68606562,
       6.84680397, 6.43484486, 5.64893702, 5.88938038, 6.87701234,
       6.38226128, 6.3833205 , 6.67997945, 6.4129357 , 7.46433406,
       5.52662209, 5.61706967, 5.54801774, 5.22243763, 6.81971965,
       5.88105818, 5.67057017, 6.53724558, 5.94154362, 6.51053685,
       6.05630653, 6.73741665, 5.87128302, 5.96451069, 6.29663244,
       5.82747227, 6.39817206, 6.44612846, 5.71659633, 7.40809806,
       5.75732355, 5.67635274, 5.93383557, 6.55435416, 7.02365286,
       5.97833484, 6.83781302, 6.22854253, 6.76272332, 5.72649173,
       6.43184661, 5.70413581, 6.46930298, 5.58741458, 6.97708633,
       6.18293251, 6.22431102, 6.42633706, 6.75697601, 5.93028567,
       6.06447499, 7.01527972, 6.06780029, 6.91785084, 6.52027674,
       6.32408412, 5.84198262, 7.21591797, 6.63732975, 7.19749844,
       6.32467361, 6.25890474, 6.3338575 , 6.45738423, 5.21718481,
       5.45402964, 7.46481551, 5.93062406, 5.53768207, 6.67915647,
       7.12150138, 6.09914912, 5.90430494, 5.91980446, 7.09434477,
       6.8915819 , 6.20825932, 6.06694417, 6.18582293, 6.981807  ,
       6.92842591, 6.35619233, 6.45360917, 6.08583811, 6.57064235,
       6.35835818, 6.24878728, 6.04504049, 6.93201753, 5.97906195,
       5.6217488 , 5.93985615, 5.9252106 , 5.81627484, 7.07239119,
       5.54728136, 6.02712386, 7.1083005 , 7.45421204, 5.88857821,
       5.73431001, 6.66697226, 6.73493107, 6.37382947, 6.1957308 ,
       5.99448738, 5.69601371, 6.34996405, 5.4267183 , 6.58412525,
       6.26959299, 6.14429459, 6.20945235, 6.26963935, 7.06314269,
       6.16070205, 5.41807995, 5.7631671 , 5.48911636, 6.88880577,
       6.09790981, 5.95409776, 6.62351164, 6.31300016, 5.62090658,
       5.22541517, 6.41469654, 7.26408088, 5.99081576, 6.17672578,
       6.33957204, 5.8225481 , 6.15806665, 6.80588352, 6.15165527,
       5.89786801, 5.99678478, 5.73947998, 5.84637485, 6.45424237,
       6.74935414, 6.62905599, 7.08894131, 6.17163141, 6.59817731,
       5.57893212, 6.65500582, 6.61468699, 6.43615442, 5.77486121,
       5.96843236, 6.6845762 , 5.52158687, 6.02873839, 6.11802706,
       6.96367974, 6.27078795, 6.140613  , 6.85278069, 7.50675893,
       6.25793918, 6.78083755, 6.18182218, 6.34025879, 5.44592793,
       6.04111994, 6.35910038, 6.27815492, 6.41638249, 6.44054217,
       7.27686241, 5.93810782, 5.45666609, 6.00854483, 6.15260352,
       6.78082781, 6.314437  , 7.92276628, 5.83552603, 6.87054022,
       6.52183757, 6.45483732, 6.0405996 , 7.17251414, 5.55950215,
       6.75087744, 6.30806652, 6.18898521, 5.8547089 , 5.78894926,
       5.83864707, 5.99494906, 5.84964878, 5.37928976, 6.5998059 ,
       6.40723624, 6.42844296, 6.69096341, 6.401688  , 6.06237058,
       5.86627798, 6.47645616, 5.68189707, 6.49364762, 5.71887857,
       5.30011211, 5.99384464, 6.61051217, 5.43609647, 5.8170145 ,
       6.30923819, 6.06431857, 5.96717765, 6.19084556, 6.04427969,
       6.82595445, 5.71146458, 6.24551814, 6.64450316, 6.13392912,
       6.41501668, 5.99755077, 6.93817805, 6.33358413, 6.74065949,
       5.35196098, 6.16227398, 6.92695124, 6.31483658, 6.11713022,
       6.67508514, 5.89818971, 5.74862419, 5.68086085, 6.57459248,
       5.96681466, 6.41446381, 7.38538919, 7.41584586, 6.15570339,
       5.68234012, 6.25838427, 5.64630031, 5.73456607, 5.71037628,
       5.63665521, 6.03631486, 6.17253995, 6.4848016 , 6.39854217,
       5.93038031, 5.99357156, 6.78730117, 6.06247898, 6.46487818,
       5.87049179, 5.95893178, 6.09232624, 6.18728461, 6.21070205,
       5.93124218, 6.02850936, 6.08363931, 6.14608378, 6.14967869,
       6.39946823, 6.50354736, 5.88896374, 5.98230675, 5.76624234,
       5.63764117, 6.57550934, 5.4649715 , 6.46015727, 6.06800584,
       6.19210547, 6.29099203, 6.30154114, 5.47860423, 6.11030073,
       6.69089411, 6.02339865, 6.89004213, 5.74992967, 5.656133  ,
       6.14798775, 5.81487001, 5.6506938 , 6.81412082, 6.25952779,
       6.48752545, 5.84568001, 6.30210292, 5.82256245, 6.61432916,
       6.64047611, 6.66389125, 6.08834044, 5.85270157, 6.266045  ,
       5.84204916, 6.05195912, 6.17724779, 6.31671073, 6.40311971,
       5.7237135 , 6.18396144, 7.48741124, 6.92935432, 6.58270597,
       5.43913779, 6.56460948, 6.22783714, 7.1131608 , 5.91746207,
       6.32961567, 5.47248787, 6.13516678, 6.8728679 , 5.90714598,
       5.97595341, 5.78357006, 6.40447863, 6.68959281, 5.99003594,
       5.79517647, 8.03746818, 6.30532406, 5.13914738, 6.34314833,
       7.06262245, 6.71193437, 7.04236756, 6.58141859, 5.87277544,
       5.33318487, 5.65748974, 5.64233161, 6.81696157, 5.97767816,
       6.48103382, 5.26769872, 5.55042171, 5.76451215, 6.21892432,
       6.35981872, 5.60239979, 6.24732059, 6.17485766, 6.40000015,
       6.24109558, 6.48998703, 6.29858527, 5.77233305, 6.51615497,
       6.42929888, 6.01331031, 6.1262562 , 6.75031644, 6.89723698,
       5.94147533, 6.24967258, 6.0603084 , 5.4298499 , 6.07042679,
       6.0460798 , 6.39431367, 6.41627833, 5.7305833 , 6.18351113,
       5.62205738, 5.73474716, 5.69372496, 5.99572853, 5.77406375,
       5.47680491, 6.3766101 , 6.15797585, 7.54201818, 6.94920296,
       6.7142392 , 6.72555604, 5.59536738, 6.68593543, 5.9482131 ,
       6.4201379 , 7.47351393, 6.94257628, 5.51132954, 6.01586911,
       5.65998146, 6.32727151, 6.20746001, 6.24708081, 5.45900434,
       5.87571055])

In [17]:
y_test

893     7.6
586     7.6
705     5.9
2493    6.0
366     6.2
       ...
1204    6.4
1406    4.4
1164    5.8
1080    5.8
1791    5.6
Name: imdb_rating, Length: 641, dtype: float64

In [18]:
from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test, y_test_predict) #computes the difference between correct answer and predicted answer

0.7068132781006802

In [19]:
#Evaluate performance using R Squared Score
r2_score(y_test, y_test_predict)

0.2755494404547082

In [20]:
#Mean Absolute Error (MAE)
def mae(y_true, y_pred):
    return np.mean(np.abs(y_pred - y_true)) 

print('MAE: {:.4f}'.format(mae(y_test, y_test_predict)))
# And the MAE isn't terrible either

MAE: 0.6375