In [1]:
# importing libraries to use
import pandas as pd

In [3]:
# Create the path to IMDB Names
resources_folder = r'Resources/'
IMDb_file = resources_folder + 'IMDb_Awards.csv'
# Reading the csv as a Panda dataframe
IMDb_Awards_df = pd.read_csv(IMDb_file, low_memory=False)
IMDb_Awards_df.head()

,eventId,eventName,awardName,year,occurrence,winAnnouncementTime,categoryName,nomeneeNote,name,originalName,...,episodeNames,characterNames,isWinner,isPrimary,isSecondary,isPerson,isTitle,isCompany,const,notes
0,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Film,NaN,La belle noiseuse,NaN,...,NaN,NaN,True,True,False,False,True,False,tt0101428,NaN
1,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Film,NaN,Jacques Rivette,NaN,...,NaN,NaN,True,False,True,True,False,False,nm0729626,NaN
2,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Foreign Film,NaN,The Double Life of Véronique,La double vie de Véronique,...,NaN,NaN,True,True,False,False,True,False,tt0101765,Poland.
3,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Foreign Film,NaN,Krzysztof Kieslowski,NaN,...,NaN,NaN,True,False,True,True,False,False,nm0001425,Poland.
4,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Short,NaN,Le petit chat est mort,NaN,...,NaN,NaN,True,True,False,False,True,False,tt0195135,NaN

In [4]:
# check the columns
IMDb_Awards_df.columns.tolist()

['eventId',
 'eventName',
 'awardName',
 'year',
 'occurrence',
 'winAnnouncementTime',
 'categoryName',
 'nomeneeNote',
 'name',
 'originalName',
 'songNames',
 'episodeNames',
 'characterNames',
 'isWinner',
 'isPrimary',
 'isSecondary',
 'isPerson',
 'isTitle',
 'isCompany',
 'const',
 'notes']

In [5]:
# keep only the ones we are going to use
IMDb_Awards_df = IMDb_Awards_df[
['eventId',
 'eventName',
 'awardName',
 'year',
 'categoryName',
 'name',
 'isWinner',
 'const'
 ]
]
IMDb_Awards_df.head()

,eventId,eventName,awardName,year,categoryName,name,isWinner,const
0,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Best Film,La belle noiseuse,True,tt0101428
1,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Best Film,Jacques Rivette,True,nm0729626
2,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Best Foreign Film,The Double Life of Véronique,True,tt0101765
3,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Best Foreign Film,Krzysztof Kieslowski,True,nm0001425
4,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Best Short,Le petit chat est mort,True,tt0195135

In [7]:
# how many records do we have
IMDb_Awards_df.count()

eventId         2158525
eventName       2158525
awardName       2157737
year            2158525
categoryName    1910974
name            2153508
isWinner        2157740
const           2153508
dtype: int64

In [8]:
# the field const contains the key for the table name and table movies
# and there is a diff or records here so we can clean this df base on 
# the const column

In [9]:
# Check for null under an entire DataFrame 
IMDb_Awards_df.isnull().sum()

eventId              0
eventName            0
awardName          788
year                 0
categoryName    247551
name              5017
isWinner           785
const             5017
dtype: int64

In [10]:
# drop those null rows
not_null_df = IMDb_Awards_df[IMDb_Awards_df['const'].notnull()]

In [11]:
# how many values are null and on which columns?
not_null_df.isnull().sum()

eventId              0
eventName            0
awardName            3
year                 0
categoryName    245253
name                 0
isWinner             0
const                0
dtype: int64

In [13]:
# we have values on the const col and on the iswinner col

In [14]:
# we might not need categoryName
not_null_df = not_null_df[
['eventId',
 'eventName',
 'awardName',
 'year',
 'name',
 'isWinner',
 'const'
 ]
]
not_null_df.head()

,eventId,eventName,awardName,year,name,isWinner,const
0,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,La belle noiseuse,True,tt0101428
1,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Jacques Rivette,True,nm0729626
2,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,The Double Life of Véronique,True,tt0101765
3,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Krzysztof Kieslowski,True,nm0001425
4,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Le petit chat est mort,True,tt0195135

In [15]:
# how many values are null and on which columns?
not_null_df.isnull().sum()

eventId      0
eventName    0
awardName    3
year         0
name         0
isWinner     0
const        0
dtype: int64

In [16]:
# how many records do we have
not_null_df.count()

eventId      2153508
eventName    2153508
awardName    2153505
year         2153508
name         2153508
isWinner     2153508
const        2153508
dtype: int64

In [17]:
# save final dataframe to a csv file
not_null_df.to_csv(resources_folder + 'clean_Awards.csv', index=False)