In [1]:
# importing libraries to use
import pandas as pd

In [2]:
# Create the path to IMDb_title_principals
resources_folder = r'Resources/'
IMDb_file = resources_folder + 'IMDb_title_principals.csv'
# Reading the csv as a Panda dataframe
IMDb_title_principals_df = pd.read_csv(IMDb_file, low_memory=False)
IMDb_title_principals_df.head()

,imdb_title_id,ordering,imdb_name_id,category,job,characters
0,tt0000009,1,nm0063086,actress,NaN,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
1,tt0000009,2,nm0183823,actor,NaN,"[""Mr. Hamilton""]"
2,tt0000009,3,nm1309758,actor,NaN,"[""Chauncey Depew - the Director of the New Yor..."
3,tt0000009,4,nm0085156,director,NaN,NaN
4,tt0000574,1,nm0846887,actress,NaN,"[""Kate Kelly""]"

In [3]:
# check the columns
IMDb_title_principals_df.columns.tolist()

['imdb_title_id', 'ordering', 'imdb_name_id', 'category', 'job', 'characters']

In [4]:
# keep only the ones we are going to use
IMDb_title_principals_df = IMDb_title_principals_df[
['imdb_title_id', 'imdb_name_id', 'category']
    ]

In [6]:
# how many records do we have
IMDb_title_principals_df.count()

imdb_title_id    835513
imdb_name_id     835513
category         835513
dtype: int64

In [8]:
# save final dataframe to a csv file
IMDb_title_principals_df.to_csv(resources_folder + 'clean_title_principals.csv', index=False)