In [ ]:
#connect tables for actor movies relationship

In [3]:
#importing libraries
from sqlalchemy import create_engine
import pandas as pd

In [4]:
# creating connection string
engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [5]:
#creating a dataframe and loading data from AWS RDS
movie = pd.read_sql_table('Movies', con=engine)
actor = pd.read_sql_table('Names', con=engine)
link = pd.read_sql_table('title_principals', con=engine)

In [6]:
#joining actor db with link table
actor_link = pd.merge(actor,link)

In [7]:
#joining movie db with linked table
actor_movie_link = pd.merge(actor_link,movie)

In [8]:
#visualization of resulting table
actor_movie_link.head()

,imdb_name_id,name,date_of_birth,date_of_death,imdb_title_id,ordering,category,title,year,date_published,genre,duration,country,language,director,actors,avg_vote,votes,budget
0,nm0000001,Fred Astaire,1899-05-10,1987-06-22,tt0027630,1,actor,Follow the Fleet,1936,1936-02-20,"Comedy, Musical, Romance",110,USA,English,Mark Sandrich,"Fred Astaire, Ginger Rogers, Randolph Scott, H...",7.2,3878,$ 747000
1,nm0000068,Randolph Scott,1898-01-23,1987-03-02,tt0027630,3,actor,Follow the Fleet,1936,1936-02-20,"Comedy, Musical, Romance",110,USA,English,Mark Sandrich,"Fred Astaire, Ginger Rogers, Randolph Scott, H...",7.2,3878,$ 747000
2,nm0001677,Ginger Rogers,1911-07-16,1995-04-25,tt0027630,2,actress,Follow the Fleet,1936,1936-02-20,"Comedy, Musical, Romance",110,USA,English,Mark Sandrich,"Fred Astaire, Ginger Rogers, Randolph Scott, H...",7.2,3878,$ 747000
3,nm0384948,Harriet Nelson,1909-07-18,1994-10-02,tt0027630,4,actress,Follow the Fleet,1936,1936-02-20,"Comedy, Musical, Romance",110,USA,English,Mark Sandrich,"Fred Astaire, Ginger Rogers, Randolph Scott, H...",7.2,3878,$ 747000
4,nm0513858,Lew Lipton,1893-02-23,1961-12-27,tt0027630,9,writer,Follow the Fleet,1936,1936-02-20,"Comedy, Musical, Romance",110,USA,English,Mark Sandrich,"Fred Astaire, Ginger Rogers, Randolph Scott, H...",7.2,3878,$ 747000

In [9]:
#sorting the dataframe
actor_movie_link.sort_values(by=['imdb_name_id'])

,imdb_name_id,name,date_of_birth,date_of_death,imdb_title_id,ordering,category,title,year,date_published,genre,duration,country,language,director,actors,avg_vote,votes,budget
0,nm0000001,Fred Astaire,1899-05-10,1987-06-22,tt0027630,1,actor,Follow the Fleet,1936,1936-02-20,"Comedy, Musical, Romance",110,USA,English,Mark Sandrich,"Fred Astaire, Ginger Rogers, Randolph Scott, H...",7.2,3878,$ 747000
180,nm0000001,Fred Astaire,1899-05-10,1987-06-22,tt0056289,3,actor,The Notorious Landlady,1962,1962-10-17,"Comedy, Mystery",123,USA,English,Richard Quine,"Kim Novak, Jack Lemmon, Fred Astaire, Lionel J...",6.8,1785,None
170,nm0000001,Fred Astaire,1899-05-10,1987-06-22,tt0053137,3,actor,On the Beach,1959,1959-12-17,"Drama, Romance, Sci-Fi",134,USA,English,Stanley Kramer,"Gregory Peck, Ava Gardner, Fred Astaire, Antho...",7.2,11728,$ 2900000
160,nm0000001,Fred Astaire,1899-05-10,1987-06-22,tt0050972,1,actor,Silk Stockings,1957,1957-07-18,"Comedy, Musical, Romance",117,USA,English,Rouben Mamoulian,"Fred Astaire, Cyd Charisse, Janis Paige, Peter...",6.8,3430,$ 1853463
150,nm0000001,Fred Astaire,1899-05-10,1987-06-22,tt0044408,1,actor,The Belle of New York,1952,1952-02-22,"Comedy, Musical, Romance",82,USA,English,Charles Walters,"Fred Astaire, Vera-Ellen, Marjorie Main, Keena...",6.2,822,$ 2563000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226259,nm9992429,Haley Elizabeth Anderson,None,None,tt11685322,7,producer,Sweet Thing,2020,2020-02-24,Drama,91,USA,English,Alexandre Rockwell,"Lana Rockwell, Nico Rockwell, Jabari Watkins, ...",8.0,279,None
221576,nm9992630,Karin Cherches,None,None,tt5039088,2,actress,The Transfiguration,2016,2017-04-21,"Drama, Horror",97,USA,English,Michael O'Shea,"Eric Ruffin, Karin Cherches, Luis Scott, Dange...",6.1,3395,None
188803,nm9992720,McMagic Cardenas,None,None,tt7233828,1,actor,The System,2018,2018-09-28,"Drama, Mystery, Thriller",92,USA,English,Irin Daniels,"McMagic Cardenas, Reginald Kennedy, Owen Conwa...",8.2,1141,None
234220,nm9992841,Sara Meritt,None,None,tt8196068,2,actress,Twisted Pair,2018,2018-10-03,"Drama, Fantasy, Sci-Fi",89,USA,English,Neil Breen,"Neil Breen, Sara Meritt, Siohbon Chevy Ebrahim...",5.9,1313,$ 3
29408,nm9992999,William Plyler,None,None,tt8483220,6,writer,Steam Room Stories: The Movie!,2019,2019-03-29,Comedy,95,USA,English,J.C. Calciano,"Traci Lords, Eric D'Agostino, Toneey Acevedo, ...",4.2,175,None

In [28]:
# select all the movies of some actor
# nm0000001	= Fred Astair
actor_movie_link[['imdb_name_id','name', 'title']] [actor_movie_link['name'].str.contains('Astaire')]

    imdb_name_id          name                                 title
0      nm0000001  Fred Astaire                      Follow the Fleet
10     nm0000001  Fred Astaire                  A Damsel in Distress
20     nm0000001  Fred Astaire                              Carefree
30     nm0000001  Fred Astaire  The Story of Vernon and Irene Castle
40     nm0000001  Fred Astaire               Broadway Melody of 1940
50     nm0000001  Fred Astaire                         Second Chorus
60     nm0000001  Fred Astaire                 You'll Never Get Rich
70     nm0000001  Fred Astaire                           Holiday Inn
80     nm0000001  Fred Astaire               You Were Never Lovelier
90     nm0000001  Fred Astaire                   The Sky's the Limit
100    nm0000001  Fred Astaire                 Yolanda and the Thief
110    nm0000001  Fred Astaire                      Ziegfeld Follies
120    nm0000001  Fred Astaire                           Let's Dance
130    nm0000001  Fred Astaire                    Three Little Words
140    nm0000001  Fred Astaire                         Royal Wedding
150    nm0000001  Fred Astaire                 The Belle of New York
160    nm0000001  Fred Astaire                        Silk Stockings
170    nm0000001  Fred Astaire                          On the Beach
180    nm0000001  Fred Astaire                The Notorious Landlady
190    nm0000001  Fred Astaire                             Midas Run
200    nm0000001  Fred Astaire                 The Amazing Dobermans

In [31]:
#showing movies of another actor
actor_movie_link[['imdb_name_id','name', 'title']] [actor_movie_link['name'].str.contains('Arnold Schwarzenegger')]

      imdb_name_id                   name                 title
3186     nm0000216  Arnold Schwarzenegger                 Twins
3675     nm0000216  Arnold Schwarzenegger           The Villain
7637     nm0000216  Arnold Schwarzenegger              Commando
28540    nm0000216  Arnold Schwarzenegger       The Running Man
32979    nm0000216  Arnold Schwarzenegger  Hercules in New York
32988    nm0000216  Arnold Schwarzenegger           Stay Hungry
32998    nm0000216  Arnold Schwarzenegger      Last Action Hero
33008    nm0000216  Arnold Schwarzenegger                Junior
33018    nm0000216  Arnold Schwarzenegger                Eraser
33028    nm0000216  Arnold Schwarzenegger    Jingle All the Way
33038    nm0000216  Arnold Schwarzenegger           The 6th Day
33048    nm0000216  Arnold Schwarzenegger        The Last Stand

In [ ]:
#filtering merge test