# XGBOOST REGRESSOR MODEL USED FOR MODEL SELECTION COMPARISON ONLY

In [170]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso, LassoCV, Ridge, RidgeCV
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.metrics import r2_score, mean_squared_error
import scipy.stats as stats
import xgboost as xgb
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from xgboost import XGBRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.datasets import load_boston

In [171]:
# Create connection to AWS table

engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [172]:
# Create dataframe for main data to be used for modeling using connection with AWS
main_df = pd.read_sql_table('consolidated_pre_transformation', con=engine)

In [173]:
# Preview main dataframe

main_df.head()

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,mpa_rating
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,PG-13
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,R
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,R
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,R
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,PG-13

In [174]:

#Split out genre into columns (manual dummy variable creation)

main_df['isHorror'] = main_df['genre'].apply(lambda x: 1 if 'Horror' in x else 0)
main_df['isComedy'] = main_df['genre'].apply(lambda x: 1 if 'Comedy' in x else 0)
main_df['isRomance'] = main_df['genre'].apply(lambda x: 1 if 'Romance' in x else 0)
main_df['isFantasy'] = main_df['genre'].apply(lambda x: 1 if 'Fantasy' in x else 0)
main_df['isWestern'] = main_df['genre'].apply(lambda x: 1 if 'Western' in x else 0)
main_df['isWar'] = main_df['genre'].apply(lambda x: 1 if 'War' in x else 0)
main_df['isHistory'] = main_df['genre'].apply(lambda x: 1 if 'History' in x else 0)
main_df['isDrama'] = main_df['genre'].apply(lambda x: 1 if 'Drama' in x else 0)
main_df['isSport'] = main_df['genre'].apply(lambda x: 1 if 'Sport' in x else 0)
main_df['isMusic'] = main_df['genre'].apply(lambda x: 1 if 'Music' in x else 0)
main_df['isMusical'] = main_df['genre'].apply(lambda x: 1 if 'Musical' in x else 0)
main_df['isAnimation'] = main_df['genre'].apply(lambda x: 1 if 'Animation' in x else 0)
main_df['isBiography'] = main_df['genre'].apply(lambda x: 1 if 'Biography' in x else 0)
main_df['isFamily'] = main_df['genre'].apply(lambda x: 1 if 'Family' in x else 0)
main_df['isSci-Fi'] = main_df['genre'].apply(lambda x: 1 if 'Sci-Fi' in x else 0)
main_df['isMystery'] = main_df['genre'].apply(lambda x: 1 if 'Mystery' in x else 0)
main_df['isAdventure'] = main_df['genre'].apply(lambda x: 1 if 'Adventure' in x else 0)
main_df['isCrime'] = main_df['genre'].apply(lambda x: 1 if 'Crime' in x else 0)
main_df['isThirller'] = main_df['genre'].apply(lambda x: 1 if 'Thriller' in x else 0)
main_df['isAction'] = main_df['genre'].apply(lambda x: 1 if 'Action' in x else 0)

In [175]:
#Create dummy variables for MPAA rating
mpaa_dummies_df = pd.get_dummies(main_df['mpa_rating'])
mpaa_dummies_df

      G  NC-17  PG  PG-13  R  Unrated
0     0      0   0      1  0        0
1     0      0   0      0  1        0
2     0      0   0      0  1        0
3     0      0   0      0  1        0
4     0      0   0      1  0        0
...  ..    ...  ..    ... ..      ...
2721  0      0   0      0  1        0
2722  0      0   0      0  1        0
2723  0      0   0      0  1        0
2724  0      0   1      0  0        0
2725  0      0   0      0  1        0

[2726 rows x 6 columns]

In [176]:
#Add MPAA rating dummy variables to main dataframe
dummies_main_df = pd.concat([main_df, mpaa_dummies_df] , axis = 1)
dummies_main_df

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,...,isAdventure,isCrime,isThirller,isAction,G,NC-17,PG,PG-13,R,Unrated
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,...,0,0,0,0,0,0,0,1,0,0
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,...,1,0,0,1,0,0,0,0,1,0
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,...,0,1,0,0,0,0,0,0,1,0
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,...,0,0,1,1,0,0,0,0,1,0
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2721,The Prodigy,22022,32,3,"Horror, Mystery, Thriller",92,5.8,6,0,0,...,0,0,1,0,0,0,0,0,1,0
2722,The Cabin in the Woods,366795,21,5,Horror,95,7.0,30,0,0,...,0,0,0,0,0,0,0,0,1,0
2723,The Taking,24825,10,10,"Horror, Mystery, Thriller",90,6.0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2724,Finding Dory,233601,20,9,"Animation, Adventure, Comedy",97,7.3,200,1,0,...,1,0,0,0,0,0,1,0,0,0
2725,Levity,6171,6,10,"Crime, Drama",100,6.4,7,2,0,...,0,1,0,0,0,0,0,0,1,0

In [177]:
#Remove N/A rows
clean_main_df = dummies_main_df.dropna()

In [178]:
# Create a new DataFrame that holds only the title names.
df_titles = clean_main_df.filter(["original_title"], axis=1)

In [179]:
# Create final clean dataframe while removing unecessary columns
final_main_df = clean_main_df.drop([ 'original_title', 'votes', 'genre', 'mpa_rating', ], axis=1)

In [180]:
# Save final clean machine learning dataset off to resources folder
#resources_folder = r'Resources/'
#final_main_df.to_csv(resources_folder + 'clean_ml_data.csv', index=False)

In [181]:

# Create X and y variables

X = final_main_df.drop(['imdb_rating'], axis=1)
y = final_main_df['imdb_rating']
predictors = X.columns.values.tolist()

In [182]:
# Train, Test, & Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [183]:
xgb_reg=xgb.XGBRegressor(max_depth=3, learning_rate=0.05, n_estimators=1000, n_jobs = 3,  objective='reg:squarederror', booster='gbtree' , random_state = 42)

In [184]:
#Train the model with training data sets
xgb_reg.fit(X_train , y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.05, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=1000, n_jobs=3,
             num_parallel_tree=1, predictor='auto', random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [185]:
#Predictions

y_pred_xgb = xgb_reg.predict(X_test)
y_true = y_test

In [186]:
# Calculate metrics


MSE = mse(y_true , y_pred_xgb)
RMSE = np.sqrt(MSE)
R_squared = r2_score(y_true, y_pred_xgb)

print("\nMSE:  ", np.round(MSE,3))
print("\nRMSE: ", np.round(RMSE, 3))
print("R-Squared: ", np.round(R_squared, 3))

MSE:   0.626

RMSE:  0.791
R-Squared:  0.308

In [187]:
def mae(y_true, y_pred):
    return np.mean(np.abs(y_pred - y_true)) 

print('MAE: {:.4f}'.format(mae(y_test, y_pred_xgb)))

MAE: 0.6085

In [188]:
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred_xgb) / y_test)) * 100))

Accuracy 89.2623375838014