In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
# Create connection to AWS table

engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [3]:
# Create dataframe for main data to be used for modeling using connection with AWS
main_df = pd.read_sql_table('consolidated_pre_transformation', con=engine)

In [4]:
# Preview main dataframe

main_df.head()

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,mpa_rating
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,PG-13
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,R
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,R
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,R
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,PG-13

In [5]:

#Split out genre into columns (manual dummy variable creation)

main_df['isHorror'] = main_df['genre'].apply(lambda x: 1 if 'Horror' in x else 0)
main_df['isComedy'] = main_df['genre'].apply(lambda x: 1 if 'Comedy' in x else 0)
main_df['isRomance'] = main_df['genre'].apply(lambda x: 1 if 'Romance' in x else 0)
main_df['isFantasy'] = main_df['genre'].apply(lambda x: 1 if 'Fantasy' in x else 0)
main_df['isWestern'] = main_df['genre'].apply(lambda x: 1 if 'Western' in x else 0)
main_df['isWar'] = main_df['genre'].apply(lambda x: 1 if 'War' in x else 0)
main_df['isHistory'] = main_df['genre'].apply(lambda x: 1 if 'History' in x else 0)
main_df['isDrama'] = main_df['genre'].apply(lambda x: 1 if 'Drama' in x else 0)
main_df['isSport'] = main_df['genre'].apply(lambda x: 1 if 'Sport' in x else 0)
main_df['isMusic'] = main_df['genre'].apply(lambda x: 1 if 'Music' in x else 0)
main_df['isMusical'] = main_df['genre'].apply(lambda x: 1 if 'Musical' in x else 0)
main_df['isAnimation'] = main_df['genre'].apply(lambda x: 1 if 'Animation' in x else 0)
main_df['isBiography'] = main_df['genre'].apply(lambda x: 1 if 'Biography' in x else 0)
main_df['isFamily'] = main_df['genre'].apply(lambda x: 1 if 'Family' in x else 0)
main_df['isSci-Fi'] = main_df['genre'].apply(lambda x: 1 if 'Sci-Fi' in x else 0)
main_df['isMystery'] = main_df['genre'].apply(lambda x: 1 if 'Mystery' in x else 0)
main_df['isAdventure'] = main_df['genre'].apply(lambda x: 1 if 'Adventure' in x else 0)
main_df['isCrime'] = main_df['genre'].apply(lambda x: 1 if 'Crime' in x else 0)
main_df['isThirller'] = main_df['genre'].apply(lambda x: 1 if 'Thriller' in x else 0)
main_df['isAction'] = main_df['genre'].apply(lambda x: 1 if 'Action' in x else 0)

In [6]:
#Create dummy variables for MPAA rating
mpaa_dummies_df = pd.get_dummies(main_df['mpa_rating'])
mpaa_dummies_df

      G  NC-17  PG  PG-13  R  Unrated
0     0      0   0      1  0        0
1     0      0   0      0  1        0
2     0      0   0      0  1        0
3     0      0   0      0  1        0
4     0      0   0      1  0        0
...  ..    ...  ..    ... ..      ...
2721  0      0   0      0  1        0
2722  0      0   0      0  1        0
2723  0      0   0      0  1        0
2724  0      0   1      0  0        0
2725  0      0   0      0  1        0

[2726 rows x 6 columns]

In [7]:
#Add MPAA rating dummy variables to main dataframe
dummies_main_df = pd.concat([main_df, mpaa_dummies_df] , axis = 1)
dummies_main_df

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,...,isAdventure,isCrime,isThirller,isAction,G,NC-17,PG,PG-13,R,Unrated
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,...,0,0,0,0,0,0,0,1,0,0
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,...,1,0,0,1,0,0,0,0,1,0
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,...,0,1,0,0,0,0,0,0,1,0
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,...,0,0,1,1,0,0,0,0,1,0
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2721,The Prodigy,22022,32,3,"Horror, Mystery, Thriller",92,5.8,6,0,0,...,0,0,1,0,0,0,0,0,1,0
2722,The Cabin in the Woods,366795,21,5,Horror,95,7.0,30,0,0,...,0,0,0,0,0,0,0,0,1,0
2723,The Taking,24825,10,10,"Horror, Mystery, Thriller",90,6.0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2724,Finding Dory,233601,20,9,"Animation, Adventure, Comedy",97,7.3,200,1,0,...,1,0,0,0,0,0,1,0,0,0
2725,Levity,6171,6,10,"Crime, Drama",100,6.4,7,2,0,...,0,1,0,0,0,0,0,0,1,0

In [8]:
#Remove N/A rows
clean_main_df = dummies_main_df.dropna()

In [9]:
# Create a new DataFrame that holds only the title names.
df_titles = clean_main_df.filter(["original_title"], axis=1)

In [60]:
# Create final clean dataframe while removing unecessary columns
final_main_df = clean_main_df.drop([ 'original_title', 'genre', 'mpa_rating', ], axis=1)

# Not dropping votes column improved R2 Score by about 10 points

In [61]:
# Create X and y variables

X = final_main_df.drop(['imdb_rating'], axis=1)
y = final_main_df['imdb_rating']

#Split and Test Data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25, random_state = 1)

In [62]:
# Initiate linear regression model and fit model

mlr = LinearRegression()  
mlr.fit(X_train, y_train)

LinearRegression()

In [63]:
y_test_predict = mlr.predict(X_test) #y_test prediction values
y_test_predict

array([ 5.66465332,  5.63496006,  7.06782175,  5.4400629 ,  6.05305265,
        6.10469818,  7.04673397,  6.16456555,  6.07790726,  5.53575715,
        6.3717243 ,  5.57480177,  5.25055437,  5.77046565,  5.6869248 ,
        6.3564404 ,  8.03259854,  6.47969758,  6.45078868,  5.69072032,
        6.12221343,  5.97410147,  5.884445  ,  5.72579062,  5.65698291,
        7.12115703,  6.21774169,  6.59738758,  6.44953013,  6.2890546 ,
        6.18347589,  6.58428281,  6.37326229,  5.98456404,  6.11562598,
        5.3274396 ,  6.35019216,  6.15098471,  6.64725863,  7.24402129,
        6.751723  ,  6.25770597,  6.48327945,  5.59286546,  5.45940505,
        5.53842749,  6.25493487,  6.96836806,  5.58873837,  5.66840124,
        6.00783569,  6.17309511,  5.39632971,  6.03822105,  6.4409336 ,
        5.35704209,  5.90586398,  5.33242661,  5.72209989,  6.81781947,
        6.21086041,  5.36387945,  6.20352598,  5.92507034,  5.94206374,
        6.16671082,  5.48795298,  6.46711199,  6.11082095,  6.79089797,
        5.87561783,  6.88464809,  7.16504805,  5.38596546,  6.15008899,
        7.13748845,  5.57760414,  5.54886091,  6.54350146,  6.14226463,
        5.94912615,  6.93157212,  6.51310772,  6.68206993,  6.71565029,
        5.64515626,  5.75911156,  5.40191301,  7.06021619,  5.94760165,
        8.32365369,  5.81571994,  5.5625675 ,  5.28662527,  6.3460729 ,
        5.76882412,  6.72832828,  5.61453423,  5.95435162,  6.30514215,
        6.01026754,  5.7163925 ,  6.29742594,  8.15560925,  5.40897066,
        5.78552324,  7.71683704,  6.37695791,  6.6357357 ,  6.22314367,
        6.16196619,  6.31218012,  5.46441883,  5.77182712,  6.12594682,
        6.63377916,  6.20659419,  6.24392166,  6.41027248,  6.10606264,
        5.7858616 ,  6.27561443,  6.63551228,  5.87581966,  5.55932622,
        5.55886585,  7.69642348,  6.05679221,  6.61662135,  6.57390931,
        6.36466986,  6.24133441,  5.57204571,  5.51298681,  6.17125247,
        5.54191326,  6.21550348,  6.3735914 ,  6.02831622,  6.10873932,
        6.27836192,  7.51571455,  5.27029577,  5.35476773,  6.59519301,
        5.66520871,  5.4408336 ,  5.46855561,  6.07373453,  5.22595374,
        5.63905567,  5.92569518,  6.14482536,  7.25846096,  5.99420718,
        6.56522714,  6.59817659,  6.3927135 ,  5.41699646,  5.71097181,
        5.99541392,  6.19295864,  6.90503619,  5.46415196,  5.4701665 ,
        6.40620045,  5.85916811,  5.75568206,  5.15757781,  6.74018237,
        5.77671359,  6.18637159,  6.21661859,  5.75621598,  5.53768866,
        6.50527183,  6.32632416,  6.18639677,  6.42234422,  5.7173644 ,
        5.65847893,  5.63095609,  5.73993505,  6.65945938,  7.69113768,
        6.12694416,  5.66381762,  6.50292897,  5.74271343,  5.53255438,
        5.96781413,  7.81941867,  5.43236773,  5.46414748,  5.22124364,
        6.58097287,  5.67834865,  7.18838853,  5.48527471,  5.79402294,
        6.01878492,  5.09977545,  6.32462365,  6.67008261,  6.19366102,
        6.34134932,  6.62092097,  6.39918141,  6.46349252,  7.62088049,
        5.88970971,  6.60545594,  5.91829223,  5.83787535,  6.45177433,
        6.22423727,  5.30667893,  5.45401467,  6.00794079,  6.33221255,
        6.47790376,  6.74658377,  6.19404125,  6.17404575,  7.42892433,
        5.85054745,  5.90468086,  6.46679445,  5.75249624,  6.50498701,
        6.00280298,  5.63957441,  6.59450991,  6.23497694,  6.45894269,
        6.5204874 ,  6.12849025,  5.64220324,  5.65209012,  5.39685355,
        5.92995704,  5.41750639,  6.12565565,  5.86692441,  5.61217809,
        6.70255285,  5.75369806,  6.70725962,  5.95750177,  5.541053  ,
        6.90353339,  6.13538753,  6.5129368 ,  5.32922716,  6.65335352,
        5.93473443,  6.49829007,  5.71742037,  6.14555659,  6.16178713,
        6.45781237,  5.52564877,  6.85304229,  5.60199607,  5.84167287,
        8.14749312,  5.59426478,  5.84226785,  6.58670311,  6.16451808,
        5.59090347,  6.35265949,  6.4262959 ,  5.52737603,  7.05281938,
        6.09745234,  7.04302377,  5.71388713,  5.59923584,  6.21439925,
        6.08456828,  8.36169702,  6.86337242,  5.6672833 ,  7.2534971 ,
        5.73057675,  7.97779973,  6.35096973,  7.50750762,  6.29623469,
        6.14013556,  8.99757981,  5.5066863 ,  6.14573607,  5.87917229,
        5.7554361 ,  6.62279868,  5.62119611,  6.86957813,  6.4465791 ,
        6.04996282,  6.41393472,  6.93458312,  6.26313756,  6.81461305,
        6.19160517,  7.75503267,  6.37975916,  5.58990149,  5.41327817,
        7.30029809,  5.29988331,  6.71401798,  5.44671753,  5.5369731 ,
        6.10927496,  6.43168101,  6.51036367,  6.17288006,  6.31800327,
        5.74396271,  6.9231355 ,  6.26505855,  6.64527968,  6.74249277,
        5.42816449,  6.06700398,  6.13685897,  6.30885239,  6.62139612,
        6.76202788,  6.37051781,  6.16440524,  6.51372426,  6.05251213,
        6.48918151,  6.54306609,  5.61021008,  6.76646546,  5.77281934,
        6.63274493,  7.50890882,  5.67975474,  5.44120879,  6.73363307,
        6.09740741,  5.50881102,  5.44997808,  6.44197479,  5.67579992,
        7.59315434,  6.25203483,  6.37782756,  6.8284566 ,  6.88943148,
        5.59875407,  5.50587626,  5.45007296,  5.31294315,  5.5320975 ,
        6.33985699,  5.69099099,  6.4187993 ,  6.70308396,  6.2201119 ,
        5.87136141,  6.54818966,  6.91419918,  7.20084422,  5.37685816,
        7.41306811,  6.0224034 ,  5.95182588,  5.53722255,  6.58469612,
        6.37372794,  6.32320486,  5.56642773,  6.43579341,  6.15330387,
        5.86169306,  6.52185346,  7.81385125,  7.45322775,  5.95809498,
        6.16210892,  6.0075464 ,  5.53032061,  5.73233026,  5.96007038,
        6.69704359,  5.58912991,  5.88853171,  5.74599078,  6.712191  ,
        6.19636604,  6.06359218,  6.12540101,  6.14243819,  5.87088829,
        5.48456277,  6.28598359,  5.26200982,  7.46531962,  5.75960346,
        5.44202521,  6.47622282,  5.46634213,  5.66427442,  5.54084555,
        8.02048275,  5.81674067,  5.51805665,  6.50125219,  6.01392397,
        5.56639487,  7.47291493,  5.59233348,  5.558661  ,  5.5393838 ,
        6.22121776,  6.0674582 ,  6.2336612 ,  6.27408319,  5.60369595,
        6.08335016,  6.14823302,  5.57623952,  6.46912873,  6.55337575,
        6.85162884,  5.80744488,  6.58822866,  6.35126872,  5.50246909,
        7.09425089,  5.53328396,  6.17691996,  6.5149365 ,  8.22957378,
        5.87796113,  6.35337658,  5.48132762,  6.41147823,  8.29871324,
        5.4064896 ,  5.77223563,  5.88951484,  5.01996907,  6.84883295,
        5.60345369,  6.55288983,  6.30447366,  6.32081904,  6.49281853,
        6.36800989,  5.48618406,  6.19889536,  7.74324354,  6.22928118,
        6.78546829,  5.47890484,  6.05951604,  6.62273681,  6.93358941,
        5.43628329,  5.66649386,  6.57638438,  5.89565984,  5.35264479,
        6.0261833 ,  6.15034634,  6.58025681,  7.19780382,  6.86939622,
        6.1888648 ,  6.44864502,  5.32707143,  5.52494251,  5.61681351,
        7.04227065,  6.12798726,  7.16496582,  6.05631569,  7.22553209,
        5.5923581 ,  6.79395954,  6.50745361,  5.82707103,  6.59584186,
        5.57062961,  6.11955487,  5.93110662,  6.13727023,  5.79364225,
        6.56790347,  5.55613439,  5.67132321,  6.56022479,  5.58275658,
        6.7624143 ,  7.26592519,  5.39959533,  6.47860002,  6.05544854,
        6.61264047,  5.66263967,  6.13361154,  5.39028608,  6.37704943,
        5.38653384,  5.41818061,  6.96593387,  6.8767652 ,  6.74784186,
        5.59947371,  5.4900876 ,  7.45278584,  5.49634602,  7.23833205,
        6.82185879,  5.25810885,  6.59936471,  6.24248461,  5.53213839,
        5.3858311 ,  6.16765788,  5.35286593,  5.71295047,  6.18479513,
        6.10935598,  6.11590986,  6.38355379,  6.53362501,  5.80510308,
        6.66634287,  6.79976663,  5.79981843,  5.50408   ,  6.36133705,
        5.52357455,  8.03386363,  5.87727477,  6.22972856,  5.43276306,
        5.58158979,  6.25282313,  6.3701745 ,  6.04894453,  5.46421779,
        6.12812972,  5.90045948,  6.89967175,  5.6506976 ,  5.35464594,
        6.4222743 ,  6.03295124,  6.36049171,  6.26483926,  5.99531894,
        5.97468932,  6.40574731,  5.51427814,  6.01467223,  6.00997676,
        6.02369177,  6.05832538,  5.98783266,  6.17704073,  6.4758028 ,
        6.05282596,  6.17152531,  6.35279322,  5.59775184,  5.968604  ,
        6.02495117,  6.31886983,  6.01939279,  6.18764216,  6.22398101,
        5.70139537,  5.60915794,  6.28745446,  6.13697895,  6.23129905,
        5.52100062,  6.27233651,  6.14678293,  5.76821368,  6.1992522 ,
        6.2251959 ,  5.62451713,  6.51091418,  6.1593286 ,  5.68853739,
        5.78830756,  6.64947295,  6.059396  ,  5.55258256,  6.17415612,
        6.20477345,  7.12203836,  7.03731931,  5.31731616,  6.90949681,
        5.51020954,  6.32525419,  6.79648328,  7.47318088,  5.76553435,
        7.09446936,  5.75116924,  6.33409613,  5.65344974,  5.91490524,
        5.7074553 ,  6.85926177,  5.74533839,  6.15008826,  5.59990957,
        6.48151822,  6.44926131,  6.00363274,  6.91932346,  6.40046258,
        6.0280888 ,  6.57550327,  6.3216591 ,  5.39017043,  5.84241889,
        6.29325779,  7.66426429,  8.57960018,  6.77352914,  6.24270872,
       10.40539151,  6.443251  ,  5.66320731,  6.67940184,  5.54468357,
        6.38962832,  5.74909857,  6.22420415,  6.38972457,  6.23118566,
        5.72747281,  6.64395719,  6.0516385 ,  5.79080963,  6.00481208,
        6.30332591,  5.84791864,  5.94460435,  5.45537086,  5.90440677,
        6.27325667,  6.07937159,  5.40170025,  5.78158331,  5.46056498,
        6.49677704,  5.77061289,  6.42848698,  5.55362465,  6.3259317 ,
        6.65043916,  6.2752991 ,  5.62213976,  6.74026192,  7.08026676,
        5.7729142 ,  5.68247472,  6.37773435,  7.50061586,  7.03056476,
        6.35647561,  6.47305701,  7.00827001,  7.0861326 ,  6.17756702,
        6.73544784,  6.26469858])

In [64]:
y_test

1247    4.7
2306    6.2
1607    6.0
1873    5.9
783     6.6
       ...
681     7.3
2245    6.7
2642    6.8
2724    7.3
1143    6.7
Name: imdb_rating, Length: 682, dtype: float64

In [65]:
from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test, y_test_predict) #computes the difference between correct answer and predicted answer

0.5836297021814589

In [66]:
#Evaluate performance using R Squared Score
r2_score(y_test, y_test_predict)

0.46975836128165693

In [67]:
#Mean Absolute Error (MAE)
def mae(y_true, y_pred):
    return np.mean(np.abs(y_pred - y_true)) 

print('MAE: {:.4f}'.format(mae(y_test, y_test_predict)))
# And the MAE isn't terrible either

MAE: 0.5489

In [70]:
# Create dataframe with title, actual value, and predicted value

mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff['title'] = df_titles['original_title']
mlr_diff.head(40)

      Actual value  Predicted value                                  title
1247           4.7         5.579152  The Santa Clause 3: The Escape Clause
2306           6.2         5.623817                           Daddy's Home
1607           6.0         6.985615                             Shark Tale
1873           5.9         5.521867                              The Super
783            6.6         5.657980                              Project X
1978           7.2         6.115353                                   Duma
403            7.4         6.628940                           Wonder Woman
1644           6.3         6.133722                                  Risen
2541           6.5         6.198212                          Gimme Shelter
1354           6.3         5.465508         Diary of a Wimpy Kid: Dog Days
1747           7.2         6.331469                                   Dope
1863           6.0         5.593020    The House with a Clock in Its Walls
1595           5.6         5.394751                                Altered
2625           4.6         5.779491                               Deadline
2212           5.7         5.758664                           Pet Sematary
1859           5.1         6.725868                            Freedomland
2198           8.5         6.325777                               Whiplash
985            7.4         6.472677                              Good Time
2508           4.9         6.428121                            Knock Knock
771            5.3         5.592643                                The Nun
1713           5.9         6.140802                          3 Generations
2101           6.3         6.119874                         Knight and Day
1651           5.7         5.933339                                  Clown
291            4.9         5.836292                               Year One
1296           6.0         5.773565                           Freaky Deaky
1236           8.0         6.149105                   The Bourne Ultimatum
6              6.2         6.311787                                  Prime
2358           6.8         6.484415                         One Hour Photo
495            7.0         6.412581                              Secretary
1490           5.6         6.480815                                    .45
586            5.4         6.079568                              Max Payne
1070           7.2         6.216197                 The Darjeeling Limited
573            5.3         6.105687                        Spring Breakers
1369           6.2         5.764859                 Step Up 2: The Streets
1641           6.0         6.402390                                Sisters
1864           4.4         5.376989                           The Darkness
1701           6.4         6.345774                              The Lorax
761            6.8         5.597268                              Insidious
1862           7.7         6.682044                               Nebraska
2510           7.7         6.283478                    Lost in Translation

In [69]:
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred_mlr) / y_test)) * 100))

Accuracy 87.64799311992441