In [2]:
#importing libraries
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# creating connection string
engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [9]:
#creating a dataframe and loading data from AWS RDS
first_Model_df = pd.read_sql_table('pre_ml_dataset', con=engine)
first_Model_df.head()

,title_length,year,month_number,genre,duration,imdb_rating,budget,oscar_nominated_actors_count,is_oscar_directed
0,10,2011,9,"Action, Drama, Thriller",110,5.8,25000000,1,0
1,3,2002,4,"Comedy, Drama, Horror",93,6.6,500000,0,0
2,15,2016,4,"Comedy, Horror",94,4.8,900000,0,0
3,15,2010,2,"Comedy, Drama, Romance",121,5.4,120000000,1,0
4,30,2009,8,"Animation, Adventure, Comedy",94,6.9,90000000,0,0

In [10]:
#reading the columns/fields types
first_Model_df.dtypes

title_length                      int64
year                              int64
month_number                      int64
genre                            object
duration                          int64
imdb_rating                     float64
budget                            int64
oscar_nominated_actors_count      int64
is_oscar_directed                 int64
dtype: object