In [3]:
# importing libraries to use
import sqlalchemy as db

In [4]:
#create my db connection string
engine = db.create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')
connection = engine.connect()
#create our sqlalchemy metadata object
metadata = db.MetaData()

In [5]:

#retreive a table
Movies = db.Table('Movies', metadata, autoload=True, autoload_with=engine)
# Print the column names
print(Movies.columns.keys())

['imdb_title_id', 'title', 'year', 'date_published', 'genre', 'duration', 'country', 'language', 'director', 'actors']

In [6]:
#retreive a table
Actors = db.Table('Names', metadata, autoload=True, autoload_with=engine)
# Print the column names
print(Actors.columns.keys())

['imdb_name_id', 'name', 'date_of_birth', 'date_of_death']

In [9]:
# importing pandas library
import pandas as pd

In [10]:
#creating a dataframe from a db table
actors_df = pd.read_sql_table('Names', con=engine)
actors_df.head()

  imdb_name_id             name date_of_birth date_of_death
0    nm0000001     Fred Astaire    1899-05-10    1987-06-22
1    nm0000002    Lauren Bacall    1924-09-16    2014-08-12
2    nm0000003  Brigitte Bardot    1934-09-28          None
3    nm0000004     John Belushi    1949-01-24    1982-03-05
4    nm0000005   Ingmar Bergman    1918-07-14    2007-07-30

In [ ]:
#retrieving data testing