In [1]:
# importing libraries to use
import pandas as pd

In [3]:
# Create the path to IMDB Names
resources_folder = r'../resources/'
IMDb_file = resources_folder + 'clean_Awards.csv'
# Reading the csv as a Panda dataframe
df = pd.read_csv(IMDb_file, low_memory=False)
df.head()

,eventId,eventName,awardName,year,name,isWinner,const
0,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,La belle noiseuse,True,tt0101428
1,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Jacques Rivette,True,nm0729626
2,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,The Double Life of Véronique,True,tt0101765
3,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Krzysztof Kieslowski,True,nm0001425
4,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Le petit chat est mort,True,tt0195135

In [5]:
# filter the df for conts containing title
df_titles = df[df['const'].str.contains('tt')]
df_titles.head()

,eventId,eventName,awardName,year,name,isWinner,const
0,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,La belle noiseuse,True,tt0101428
2,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,The Double Life of Véronique,True,tt0101765
4,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Le petit chat est mort,True,tt0195135
6,ev0000170,Cinanima,Grand Prize,2007,Le tueur de Montmartre,True,tt1337718
8,ev0000170,Cinanima,Grand Prize,2007,Madame Tutli-Putli,True,tt1029440

In [6]:
# filter the df for conts containing names
df_names = df[df['const'].str.contains('nm')]
df_names.head()

,eventId,eventName,awardName,year,name,isWinner,const
1,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Jacques Rivette,True,nm0729626
3,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Krzysztof Kieslowski,True,nm0001425
5,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,Fejria Deliba,True,nm0217148
7,ev0000170,Cinanima,Grand Prize,2007,Borislav Sajtinac,True,nm1196263
9,ev0000170,Cinanima,Grand Prize,2007,Chris Lavis,True,nm2650321

In [7]:
# how many records do we have
df_titles.count()

eventId      905096
eventName    905096
awardName    905095
year         905096
name         905096
isWinner     905096
const        905096
dtype: int64

In [8]:
# how many records do we have
df_names.count()

eventId      1247606
eventName    1247606
awardName    1247604
year         1247606
name         1247606
isWinner     1247606
const        1247606
dtype: int64

In [9]:
# save final dataframe to a csv file
df_titles.to_csv(resources_folder + 'movie_Awards.csv', index=False)
df_names.to_csv(resources_folder + 'actor_Awards.csv', index=False)

In [ ]:
#separated and tested