In [1]:
# importing libraries to use
import pandas as pd

In [5]:
# Reading the csv as a Panda dataframe
oscarNA = pd.read_csv(r"../resources/NumberOf_Oscar_Nominated_Actors_ByTitle.csv")
oscarND = pd.read_csv(r"../resources/Oscar_Nominated_Directors_ByTitle.csv")

In [6]:
#show data
oscarNA.head()

  imdb_title_id  number_of_oscar_nominee_actors
0     tt0071394                               1
1     tt0071524                               4
2     tt0087966                               0
3     tt0067620                               0
4     tt0059653                               1

In [18]:
#the type of fields
oscarNA.dtypes

imdb_title_id                     object
number_of_oscar_nominee_actors     int64
dtype: object

In [7]:
#show data
oscarND.head()

  imdb_title_id  oscar_nominated_directors
0     tt0071394                          1
1     tt0071524                          1
2     tt0087966                          0
3     tt0067620                          0
4     tt0059653                          0

In [8]:

#importing libraries fos sql connection to external AWS RDS
from sqlalchemy import create_engine
conn = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [9]:
#loading the data contained on the dataframe to the AWS RDS 
oscarNA.to_sql('Oscar_Nominated_Actor', con=conn, if_exists='append', index=False)

In [10]:
#loading the data contained on the dataframe to the AWS RDS 
oscarND.to_sql('Oscar_Nominated_Director', con=conn, if_exists='append', index=False)

In [ ]:
#separated and uploaded